{% include 'receitas/partials/head.html' %}

<body>

    {% include 'receitas/partials/header.html' %}

    <div class="search-cotainer">
        <div class="container">
            <form action="" class="search-form">
                <input type="search" class="search-input" name="Search" placeholder="O que você está procurando?">
                <button type="submit" class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
    </div>







    <footer>
    </footer>


</body>